.board {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  
  flex-grow: 1;
  padding: 24px;
  gap: 50px;
  
  &-column {
    display: flex;
    flex-direction: column;
    
    &-header {
      display: flex;
      align-items: center;

      gap:10px;
      margin-bottom: 16px;

      &-icon {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        
        &.todo { background-color: #49c4e5;}
        &.doing { background-color: #8471f2;}
        &.done { background-color: #67e2ae;}
      }
      
      &-label {
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 1.8px;
      }
    }

    &-placeholder {
      display: flex;
      justify-content: center;
      align-items: center;

      color: var(--bg-lines);
      border: 8px dashed var(--bg-lines);
      
      min-height: 95px;
      padding: 10px 30px;
      border-radius: 8px;

      p {
        text-align: center;
        font-weight: 600;
        font-size: 16px;
      }
    }
  }
}