.ticket{
  display: flex;
  flex-direction: column;

  background-color: var(--bg-gray);

  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  gap: 8px;

  h3 {
    color: var(--text-lines);
    font-weight: 700;
    font-size: 15px;
  }
  
  p {
    color: var(--text-gray);
    font-weight: 500;
    font-size: 12px;
  }

  ul {
    color: var(--text-gray);
    font-size: 12px;

    padding-left: 12px;

    li {
      padding: 2px 0;
    }
  }
}