.navbar {
  display: flex;

  background-color: var(--bg-gray);

  border-bottom: 1px solid var(--bg-lines);
  padding: 15px 30px;

  &-logo-container {
    max-width: 280px;
    width: 100%;

    h1 {
      font-size: 34px;
    }

    @media screen and (max-width: 800px) {
      display: none;
    }
  }

  &-items {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &-project {
      display: flex;
      align-items: center;
      gap: 6px;

      h4 {
        font-size: 24px;
      }

      svg {
        display: none;

        @media screen and (max-width: 800px) {
          display: initial;
        }
      }
    }

    button {
      padding: 10px 12px;
      border-radius: 8px;
    }
  }
}